.ant-btn .button {
    background-color: black; /* Change the default color of the button */
    color: #565656;
}

.ant-btn:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow when hovered */
}
.search .ant-btn-primary {
    background-color: #6a9567 ;
    font-size: 15px;
    font-weight: bold;
}
.head-link{
    font-size: 17px;
    color: #201b1b;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.content::-webkit-scrollbar{
    -webkit-appearance: none;
}
.pagination{
    /*background-color: red;*/

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
}
.ant-anchor-ink-ball {
    background-color: #1890ff;
    width: 6px;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
}
.ant-anchor-link{
    margin-right: 10px;
}
.modal-two{
    position:sticky;
}
.modal-card-container .ant-card{
    color: #201b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
}
.modal-two-rating-item{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 23vw;
}
.form{
    display: flex;
    justify-content: space-between;
}
.modal-card-one-item{
    display: flex;
    align-items: center;
    gap:5px
}
.modal-card-one-item img{
    width: 20px;
    height: 20px
}
.modal-address{
    font-family:'Montserrat',sans-serif;
    width:100%
}
.modal-desc{
    font-family:Verdana, sans-serif;
    background-color:white;
    padding:20px;
    border-radius:10px;
    color:#344351
}
.modal-descTitle{
    margin: 30px 0 10px 10px;
    font-weight: 700;
    color: #526d82;
    font-size: 16px;

}
.modal-desc-item{
    margin-bottom: 30px;
}
.modal-about-title{
    font-weight: 700;
    font-size: 26px;
    color: #526d82;
    margin: 0 0 10px 10px;
    font-family: "Poppins", sans-serif;
    text-align: center;

}

.modal-two-rating-title{

    font-weight: 700;
    font-size: 16px;
    color: #526d82;
    margin: 0 0 10px 10px;


}


.modal-card-one{
    font-family:verdana,sans-serif;
    width: 30vw;
    font-size:15px;
    color:#526d82;
    font-weight:500
}
