.ant-btn .button {
    background-color: black; /* Change the default color of the button */
    color: #565656;
}

.ant-btn:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increase shadow when hovered */
}
.content::-webkit-scrollbar{
    -webkit-appearance: none;
}
.pagination{
    /*background-color: red;*/

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 20px;
}
.modal-two{
    position:sticky;
}
.modal-two-rating-item{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 23vw;
}
.form{
    display: flex;
    justify-content: space-between;
}
.modal-form-item{
    width: 60%;
}
.modal-card-one-item{
    display: flex;
    align-items: center;
    gap:5px
}
.modal-card-one-item img{
    width: 20px;
    height: 20px
}
.modal-address{
    font-family:'Montserrat',sans-serif;
    width:100%
}
.modal-desc{
    font-family:Verdana, sans-serif;
    background-color:white;
    padding:20px;
    border-radius:10px;
    color:#344351;
    width:80%
}

.modal-descTitle{
    margin: 30px 0 10px 10px;
    font-weight: 700;
    color: #526d82;
    font-size: 16px;

}
.modal-desc-item{
    margin-bottom: 30px;
}

.modal-two-rating-title{
    font-weight: 700;
    font-size: 16px;
    color: #526d82;
    margin: 0 0 10px 10px;
}


.modal-card-one{
    font-family:verdana,sans-serif;
    width: 30vw;
    font-size:15px;
    color:#526d82;
    font-weight:500
}
.c2-container{
    padding: 2px;
    width: 100%;
    height: 90%;

    border-radius: 10px;
    margin: auto;

    gap: 50px;
}
.dash-header2{
    background-color: #e0e7ec;
    position: sticky;
    z-index: 1;
    top: 65px;

    margin: auto;
    width: 80%;
    gap: 20px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
& .ant-menu-item::after {
    border: none !important;
}
.dash-sider1{
    border-radius: 25px;
    background-color: white;
    padding-top: 20px;
    top: 10px;
    margin-left: 5%;
    height:63vh;
    margin-top:40px;
    overflow:hidden;

    position:fixed;
}
.dash-head{
    display: flex;
    background-color: #e0e7ec;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-left:30px;
}
.dash-links a{
    position: relative;
    margin-left: 40px;
    text-decoration: none;
    color: #575757;
    font-size: 16px;
    font-weight: 700;
    font-family: "Cantarell", sans-serif;
}
.dash-links a::before{
    content: "";
    width: 0;
    height: 2px;
    background: #3897c6;
    left: 0;
    top: 100%;
    position: absolute;
    margin-top: 10px;
    transition:  all ease .3s;
}
.dash-links a:hover::before{
    width: 100%;
}
@media (max-width: 870px) {
    /*.dash-header2{*/
    /*    display: none;*/
    /*}*/
    .dash-sider1{

        display: none;
    }
    .dash-logo{
        display: none !important;
    }
}
@media (min-width: 870px) {
    .dash-icon{
        display: none;
    }
}
@media (max-width: 600px) {
    .header-menu{
        display: none;
    }

    .head-child2{
        justify-content: end;
        gap: 40px;
    }
}
@media (max-width: 750px) {
    .dash-links{
        display: none;
    }
    .head-child1{
        float: left;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .search{
         display: none;
     }
    .head-child2{
        justify-content: end;
        gap: 40px;
    }
}

