
.nav{


  .navcontainer{
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    img{

      width: 9vw;
      height: 9vh;
    }
    .res-menu{
      @media (min-width: 850px) {
        display: none;
      }
    }
    .right{
      flex: 0.8;
      //background-color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 850px) {
        display: none;
      }
      .link{
        width: 40vw;
        font-family:sans-serif ;
        background: #dde6ed;
        gap: 5%;
        border: none;
        a{

          position: relative;
          text-decoration: none;
          color: #565656;
          font-size: 14px;
          font-family: "Cantarell", sans-serif;
          font-weight: 550;
          

        }

      }
      .button{
        width: 7vw;
        font-family: "Cantarell", sans-serif;
        font-weight: 600;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

  }
}