
.nav{


  .navcontainer{
    padding: 0 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    img{

      width: 9vw;
      height: 9vh;
    }
    .right{
      flex: 0.6;
      //background-color: black;
      display: flex;
      justify-content: right;
      .link{
        width: 32vw;
        font-family:sans-serif ;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{

          position: relative;
          text-decoration: none;
          color: #565656;
          font-size: 14px;
          font-family: "Cantarell", sans-serif;
          font-weight: 550;
          &::before{
            content: "";
            width: 0;
            position: absolute;
            height: 2px;
            top: 100%;
            left: 0;
            background: black;
            transition:.3s;

          }
          &:hover{
            color: black;
            &::before{
              width: 100%;
            }
          }

        }

      }
      .button{
        width: 7vw;
        font-family: "Cantarell", sans-serif;
        font-weight: 600;
        font-size: 12px;
      }
    }

  }
}