.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  .for{

    .form-item{
      font-family: "Poppins",sans-serif;

      font-size: 12px;

      .anticon svg {
        color: #707070;
        font-size: 17px; 
      }

      input{
        height: 6vh;
      }
    }
  }
}